<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Radiocloud</title>
  <meta
    name="version"
    content="<%= htmlWebpackPlugin.options.version %>-rev-<%= htmlWebpackPlugin.options.revision %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="widget">
    <div class="player-wrapper">
      <audio class="radio-player" controls="controls"></audio>
      <div class="controls">
        <button type="button" class="btn-popup">
          <i class="material-icons">open_in_new</i>
        </button>
      </div>
    </div>
    <select class="station-picker"></select>
    <div class="playlist">
      <a href="/<%= htmlWebpackPlugin.options.appname %>.pls" download target="_blank">
        <i class="material-icons">queue_music</i>.pls
      </a>
      <a href="/<%= htmlWebpackPlugin.options.appname %>.m3u8" download target="_blank">
        <i class="material-icons">queue_music</i>.m3u8
      </a>
    </div>
  </div>
</body>
</html>
