@import "~choices.js/assets/styles/css/choices.css"
@import "~plyr/dist/plyr.css"

$accent = #FF7E50
$thumb-bg = lighten($accent, 40%)
$station-label = #424242

*
  font-smoothing antialiased
  box-sizing border-box

body
  font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size 16px
  opacity 0

.widget
  width 280px

.plyr
  border-radius 2.5px
  margin-bottom 10px

.plyr--audio .plyr
  &__controls
    border 1px solid #ddd

  &__volume
    max-width 160px
    display block

  &__controls button:hover
    background $accent

  &__volume input[type=range]:active
    &::-webkit-slider-thumb
      background $thumb-bg
    &::-moz-range-thumb
      background $thumb-bg
    &::-ms-thumb
      background $thumb-bg

  &__volume--display
    color $accent

.choices__list.choices__list--single
  font-weight bold
  color $station-label
