@import "~choices.js/assets/styles/css/choices.css"
@import "~plyr/dist/plyr.css"

* {
  font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  opacity: 0;
}

.widget {
  width: 280px;
}

.plyr {
  border-radius: 2.5px;
  margin-bottom: 10px
}

.plyr .plyr__controls {
  border: 1px solid #ddd;
}

.plyr .plyr__volume {
  max-width: 160px !important;
  display: block;
}

.plyr .plyr__controls button:hover {
  background: #FF7E50;
}

.plyr .plyr__volume--display {
  color: #FF7E50;
}

.choices__list.choices__list--single {
  font-weight: bold;
  color: #424242;
}
