@import "~choices.js/assets/styles/css/choices.css"
@import "~plyr/dist/plyr.css"

$accent = #FF7E50
$thumb-bg = lighten($accent, 40%)
$station-label = #424242
$button-color = #565d64
@import "buttons"

*
  font-smoothing antialiased
  box-sizing border-box

body
  font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size 16px
  opacity 0

.widget
  width 280px

.player-wrapper
  position relative
  border-radius 2.5px
  margin-bottom 10px
  border 1px solid #ddd
  overflow auto

  .plyr
    float none

.controls
  display none
  padding 10px
  position absolute
  right 0
  background #ffffff

@media (min-width: 768px)
  .plyr.plyr--audio
    width 100%
  .plyr.plyr--audio .plyr__volume
    max-width 140px
  .player-wrapper .plyr
    float left
  .controls
    display block

.plyr--audio .plyr
  &__controls
    border none

  &__volume
    max-width 160px
    display block

  &__controls button:hover
    background $accent

  &__volume input[type=range]
    color $accent

.choices__list
  &.choices__list--single
    font-weight bold
    color $station-label

  &--dropdown .choices__item
    padding 8px 10px

.playlist
  $border = 1px solid #ddd
  $border-radius = 2.5px

  display flex
  width 100%
  margin-top -14px
  line-height 38px
  border $border
  border-radius $border-radius
  user-select none

  .icon
    margin -1px
    margin-right 0
    border 1px solid $accent
    border-radius $border-radius 0 0 $border-radius
    background $accent
    color #ffffff
    padding 0 10px

  .icon i.material-icons
    display inline-block
    line-height inherit
    vertical-align top

  .buttons
    display flex
    flex-grow 1

  a
    display inline-block
    flex-grow 1
    padding 0 8px
    min-width 70px
    text-align center
    vertical-align top
    text-decoration none
    color darken($button-color, 15%)
    transition all .3s ease

  a:not(:last-child)
    border-right $border

  a:hover
    background #f2f2f2
